.grass {
  background-color: #7ac74c;
}

.water {
  background-color: #6390f0;
}

.fire {
  background-color: #ee8130;
}

.bug {
  background-color: #a6b91a;
}

.normal {
  background-color: #a8a77a;
}

.poison {
  background-color: #a33ea1;
}

.electric {
  background-color: #f7d02c;
}

.ground {
  background-color: #e2bf65;
}

.fairy {
  background-color: #d685ad;
}

.name-pokemon,
.type,
.name-stat {
  text-transform: capitalize;
}

.pokemon:hover {
  cursor: pointer;
}
